[submodule "vendor/plugins/spawn"]
	path = vendor/plugins/spawn
	url = git://github.com/tra/spawn.git
[submodule "vendor/plugins/facebooker"]
	path = vendor/plugins/facebooker
	url = git://github.com/mmangino/facebooker.git
[submodule "vendor/plugins/facebooker_tutorial"]
	path = vendor/plugins/facebooker_tutorial
	url = git://github.com/thoughtbot/hoptoad_notifier.git
