[submodule "vendor/plugins/tra-spawn"]
	path = vendor/plugins/tra-spawn
	url = git://github.com/tra/spawn.git
[submodule "vendor/plugins/mmangino-facebooker"]
	path = vendor/plugins/mmangino-facebooker
	url = git://github.com/mmangino/facebooker.git
[submodule "vendor/plugins/rails-exception_notification"]
	path = vendor/plugins/rails-exception_notification
	url = git://github.com/rails/exception_notification.git
