[submodule "vendor/plugins/spawn"]
	path = vendor/plugins/spawn
	url = git://github.com/tra/spawn.git
[submodule "vendor/plugins/facebooker"]
	path = vendor/plugins/facebooker
	url = git://github.com/mmangino/facebooker.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
